body {
    display: block;
    margin: 20px;
    background: #f5f5f5c1;
}

.wrap {
    background: white;
    max-width: 600px;
    margin: 60px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

.city {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.temperature {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    display: flex;
    justify-content: end;
    font-size: 45px;
    position: relative;
    top: -88px;
}

.humidity {
    font-weight: bold;
    color: crimson;
}
.wind-speed {
    font-weight: bold;
    color: crimson;
}
.coded-by {
    color: purple;
}

#search-form-input {
    background-color: #e0dbdb;
    color: darkgrey;
    border-radius: 4px;
    border: 1px solid #e0dbdb;
    padding: 8px;
}

#search-form-button {
    background-color: #b476ee;
    color: white;
    border-radius: 4px;
    border: 1px solid #b476ee;
    padding: 8px;
}

main p {
    color: grey;
}

footer p {
    color: grey;
}

main .current-weather {
    max-width: 100%;
    background: #fdf5f7;
    border-radius: 10px;
    padding: 0 15px;
}